.game-frame{
  background: lightskyblue;
  width: 95%;
  height: 95%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}

.live-video{
  width: 45%;
  height: 40%;
}

.center-button{
  background: blue;
}