html, body{margin:0px; padding:0px;}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
table {
  width: 200px;
  margin: 0px 0px 0px 20px;
  float: left;
  border: 1px solid #8f8f8f;
}
h1, h2{
  margin: 5px 5px 5px 20px;

}

#column2{
  text-align: center;
}
button{
  padding: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Set the size of the container */
#chart-container {
  width: 600px;  /* Adjust as needed */
  height: 400px;  /* Adjust as needed */
}

/* Make the canvas fill its container */
#myChart {
  width: 100%;
  height: 100%;
}