{% extends "base.html" %}

{% block title %}
    Add Match
{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="../static/form.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="form-container">
  <form id="myForm" action = "/confirmation" method="POST">
    <div class="form-group">
      <div class="field">
        <label for="name1">First Player:</label>
        <input type="text" id="name1" name="name1" autocomplete="off" />
      </div>
      <div class="field">
        <label for="score1">Score:</label>
        <input type="text" id="score1" name="score1" />
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <label for="name2">Second Player:</label>
        <input type="text" id="name2" name="name2" autocomplete="off" />
      </div>
      <div class="field">
        <label for="score2">Score:</label>
        <input type="text" id="score2" name="score2" />
      </div>
    </div>
    <input type="submit" class="btn submit-btn">
  </form>
</div>

<script>
$( function() {
    var availableTags = {{ autocompleteData|tojson|safe }};

    $("#name1, #name2").autocomplete({
      source: availableTags,
      autoFocus: true
    });

    $('#myForm').on('submit', function(e){
        var name1 = $('#name1').val();
        var name2 = $('#name2').val();

        if(!availableTags.includes(name1) || !availableTags.includes(name2)) {
            alert('Please enter valid names.');
            e.preventDefault();
        }
    });
});
</script>
{% endblock %}
