{% extends "base.html" %}

{% block title %}
    Add Match
{% endblock %}

{% block content %}
    <form id="myForm" action = "user_confirm" method="POST">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" autocomplete="off" />
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" />
      <br>
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" autocomplete="off" />
      <input type="submit">
    </form>
{% endblock %}