<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="../static/images/favicon-32x32.png">
        <link rel="stylesheet" href='../static/main.css' />
        <!-- Include any common stylesheets or scripts here -->
    </head>
    <body>
        <header>
            <div class="header-inner">
                <div class="logo-title">
                    <img src="../static/images/logo.png" alt="Logo" class="logo">
                    <h1>{% if current_user.is_authenticated %}
                            Hello {{ current_user.name }}
                            <font color="#0352fc">({{ current_user.rating }})</font>
                            {% if userChange() > 0 %}
                                <font color="#03fc03"> +{{ userChange() }}</font>
                            {% elif userChange() < 0%}
                                <font color="#fc0303"> {{ userChange() }}</font>
                            {% endif %}
                        {% else %}
                            Popdarts League
                        {% endif %}</h1>
                </div>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/match">Add Match</a></li>
                        <li><a href="{{ url_for('profile', user = current_user.name) }}">Profile</a></li>
                        <li><a href="/graphbig">Big Graphs</a></li>
                        <li><a href="/add_user">Add User</a></li>
                        <li><a href="/game">New Game</a></li>
                        <li><a href="/newgame">New manual game</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
