{% extends "base.html" %}

{% block title %}
    Add Match
{% endblock %}

{% block content %}
<h2>Confirm Results: {{ winner }} won the match</h2>
<table>
        <thead>
        <tr>
            <th>First Name </th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td id="column2">{{row[1]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/submitted" method="post">
      <label for="date">Confirm </label>
      <input type="submit" value="Submit">
    </form>
{% endblock %}