{% extends "base.html" %}

{% block title %}
    Filler
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <body>
        <div class="center-video">
            <img src="{{url_for('video')}}" class="center-image">
        </div>

        <div class="center-buttons">
            <form id="myForm" action = "/" method="POST">
                <label for="name1">Name:</label>
                <input type="text" id="name1" name="name1" autocomplete="off" />
                <label for="score2">Team:</label>
                <input type="text" id="team1" name="team1" />
                <br>
                <label for="name2">Name :</label>
                <input type="text" id="name2" name="name2" autocomplete="off" />
                <label for="score2">Team:</label>
                <input type="text" id="team2" name="team2" />
                <br>
                <input type="submit">
            </form>
        </div>
        <script>
            $( function() {
                var availableTags = {{ autocompleteData|tojson|safe }};

                $("#name1, #name2").autocomplete({
                source: availableTags,
                autoFocus: true
                });

                $('#myForm').on('submit', function(e){
                    var name1 = $('#name1').val();
                    var name2 = $('#name2').val();

                    if(!availableTags.includes(name1) || !availableTags.includes(name2)) {
                        alert('Please enter valid names.');
                        e.preventDefault();
                    }
                });
            });
        </script>
    </body>
{% endblock %}