<!DOCTYPE html>
<html lang="en">
    <!-- When start button pressed, could hide thsese bars? -->
    <!--  -->
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href='../static/main.css' />
        <title>Game Mondirator
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href=match>Add Match</a></li>
            <li><a href="/">Add User</a></li>
        </ul>
        </title>
    </head>
    <body>
        <div>
            <img src="url_for('video')" width="50%">
            <!-- Position Middle of screen below the nav bar (Leave space for start button and player tabs) -->
            <!-- When start button pressed remove nav bar and replace it with Green vs Blue Point Smol Bar -->
        </div>
    </body>
</html>