{% extends "base.html" %}

{% block title %}
    PopDarts Game
{% endblock %}

{% block content %}
    <link rel="stylesheet" href='../static/game_page.css' />
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <body>
        <div class="page-frame">
            <div class="video-frame">
                <img src="{{url_for('video')}}" class="live-video">
                <!-- <br> -->
                <div class="center-button">
                    <form id="player_game" action = "/rounds" method="POST">
                        <label for="name1">Name:</label>
                        <input type="text" id="name1" name="name1" autocomplete="off" />
                        <label for="team1">Team:</label>
                        <strong>Blue</strong>
                        <input type="hidden" id="team1" name="team1" value="Blue">

                        <br>
                        <label for="name2">Name :</label>
                        <input type="text" id="name2" name="name2" autocomplete="off" />
                        <label for="team2">Team:</label>
                        <strong>Green</strong>
                        <input type="hidden" id="team2" name="team2" value="Green">

                        <br>
                        <input type="submit">
                    </form>
                </div>
            </div>
            <div class="table-frame">
                <div class="previous-game">
                    <table class="table-game">
                        <thead>
                            <tr>
                                <th>Closest</th>
                                <th>{{ last_name[0][1] }}</th>
                                <th>{{ last_name[1][1] }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for round in last_game %}
                                <tr>
                                    <td>
                                        {% if round[4] != 0 %}
                                            home: {{ round[4] }}
                                        {% else %}
                                            away: {{ round[5] }}
                                        {% endif %}
                                    </td>
                                    <td>{{ round[2] }}</td>
                                    <td>{{ round[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="data-graph">
                    <div id="chart-container">
                        <canvas id="myChart" ></canvas>
                    </div>
                </div>
                <div class="buttons-tab">
                    <form id="graph_change" action="" method="POST">
                        <button name="graph1-button">RRC</button> <!-- RR Change         -->
                        <button name="graph1-button">SER</button> <!-- Score each round  -->
                        <button name="graph1-button">MPR</button> <!-- Miss per round    -->
                        <button name="graph1-button">CER</button> <!-- Closes each round -->
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        $( function() {
            var availableTags = {{ autocompleteData|tojson|safe }};

            $("#name1, #name2").autocomplete({
                source: availableTags,
                autoFocus: true
            });

            $('#playerGame').on('submit', function(e){
                var name1 = $('#name1').val();
                var name2 = $('#name2').val();

                if(!availableTags.includes(name1) || !availableTags.includes(name2)) {
                    alert('Please enter valid names.');
                    e.preventDefault();
                }
            });
        });
        const allPlayersData = {{ all_players_data | tojson }};
        console.log(allPlayersData);
        const lastName = {{ last_name | tojson }};
        console.log(lastName);

        // Define an array of contrasting colors
        const colors = [
            '#FF0000', // Red
            '#00FF00', // Green
            '#0000FF', // Blue
            '#FF00FF', // Magenta
            '#FFFF00', // Yellow
            '#00FFFF', // Cyan
            '#800080', // Purple
            '#FFA500', // Orange
            '#008000', // Dark Green
            '#800000', // Maroon
        ];

        // Prepare the labels for the x-axis
        let labels = [];
        for (let player in allPlayersData) {
            for (let game of allPlayersData[player]) {
                if (!labels.includes(game[0])) {
                    labels.push(game[0]);
                }
            }
        }
        labels.sort((a, b) => a - b);

        // Prepare the datasets
        let datasets = [];
        let colorIndex = 0;
        for (let player in allPlayersData) {
            if (player == lastName[0][1] || player == lastName[1][1]){
                let playerRatings = [];
                let lastKnownRating = null;
                for (let i = 0; i < labels.length; i++) {
                    let game = allPlayersData[player].find(game => game[0] === labels[i]);
                    if (game) {
                        playerRatings[i] = game[1];
                        lastKnownRating = game[1];
                    } else {
                        playerRatings[i] = lastKnownRating;
                    }
                }

                datasets.push({
                    label: player,
                    data: playerRatings,
                    fill: false,
                    borderColor: colors[colorIndex % colors.length], // Use a contrasting color from the array
                    tension: 0.1
                });
            }
            colorIndex++;
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
    </script>
{% endblock %}