<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='../static/main.css' />
    <title>League Table</title>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href=match>Add Match</a></li>
        <li><a href="/">Add User</a></li>
    </ul>
</head>
<body>
    <h2>Current table as of {{ now }}</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
            {% for row in parse %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td id="column2">{{row[1]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Today</th>
        </tr>
        </thead>
        <tbody>
            {% for row in today %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td id="column2">{{row[1]}}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</html>