{% extends "base.html" %}

{% block title %}
    PopDarts Game
{% endblock %}

{% block content %}
    <link rel="stylesheet" href='../static/game_page.css' />
    <body>
        <div class="scores-tally">
            <div class="round-bar">
                <div class="team blue-team">
                <div class="team-name" id="name1">{{ player_blue }}</div>
                <div class="b-score" id="blue-point">{{ b_score }}</div>
                </div>

                <div class="team green-team">
                <div class="team-name" id="name2">{{ player_green }}</div>
                <div class="g-score" id="green-point">{{ g_score }}</div>
                </div>
            </div>
            <div class="games-bar">
                <div class="rounds blue-team">
                    <div id="b_rounds">{{ b_rounds }}</div>
                </div>
                <div class="rounds green-team">
                    <div id="g_rounds">{{ g_rounds }}</div>
                </div>
            </div>
        </div>
        <div class="page-frame">
            <div class="video-frame">
                <img src="{{url_for('video')}}" class="live-video">
                <div class="center-button">
                    <form id="submit_round" action = "/rounds" method="POST">
                        <input type="submit" value="End Round" name="click"> <!-- Capture image -->
                        <input type="hidden" name="name1" value="{{ player_blue }}">
                        <input type="hidden" name="name2" value="{{ player_green }}">
                    </form>
                    <br>
                    <form id="next_round" action = "/procces" method="POST">
                        <input type="submit" value="Next Round" name="next">
                        <input type="hidden" name="name1" value="{{ player_blue }}">
                        <input type="hidden" name="name2" value="{{ player_green }}">
                    </form>
                </div>
            </div>
            <div class="table-frame">

            </div>
        </div>
    </body>
{% endblock %}