<!DOCTYPE html>
<html>
    <link rel="stylesheet" href='../static/game_page.css' />
    <body>
        <div class="score-bar">
            <div class="team blue-team">
              <!-- <div class="team-name">Blue</div> -->
              <div class="score">0</div>
            </div>
            <div class="team green-team">
              <!-- <div class="team-name">Green</div> -->
              <div class="score">0</div>
            </div>
        </div>
        <div class="center-video">
            <img src="{{url_for('video')}}" class="center-image">
        </div>
        <form id="submit_round" action = "/rounds" method="POST">
            <div class="center-new_round">
                <input type="submit" value="End Round" name="click">
            </div>
        </form>
    </body>
</html>